<a href="https://colab.research.google.com/github/Techieali/Data_Science/blob/master/python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x={'ali': '9562000564' , 'aysha':'7736780120'}
x['ali']

In [0]:
for name in x:
    print (x[name])

In [0]:
for name,number in x.items():
    print(name,number)

# String_Operation In Dictionary

In [0]:
Sales_record = {"price" : 240, "num_items" : 4 , "person" : "Ali"}
sales_statement = "{} brought {} items at a price of {} each for a total of {}"

In [0]:
x= sales_statement.format(Sales_record['person'],Sales_record['num_items'],Sales_record['price'], Sales_record['num_items']* Sales_record['price'])

In [0]:
print(x)

# Object and map
## Class

In [0]:
class Person:
    department = 'School of information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [0]:
person = Person()
person.set_name = ('maharuf')
person.set_location = ('trivandrum')
print('{} live in {} and worked in {}'.format(person.set_name, person.set_location, person.department))

In [0]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min,store1,store2)
print(cheapest)

In [0]:
maping = map(store1,store2)
print(maping)

In [0]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
for
    print(people)

In [0]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

In [0]:
def name1_and_name2(person):
    name1 = person.split()[1]
    name2 = person.split()[-1]
    return '{} {}'.format(name1, name2)
names = list(map(name1_and_name2 ,people))
print(names)

## lambda and list function

In [0]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]
#print(list(map(split_title_and_name, people)))
#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 20
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0]+ ' ' + person.split()[-1],people))

In [0]:
my_list = []
for number in range(0,1000):
    if number % 2 != 0 :
        my_list.append(number)
        
my_list
max(my_list)

In [0]:
my_list = [number for number in range (0,1000) if number % 2 == 0]
my_list

## converting a function in to list comperhention

In [0]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst
#print(times_tables)
times_tables() == [i*j for i in range(10) for j in range(10) ]

In [0]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

def correct_answer():
    ctt = []
    for i in range(26):
        for j in range(26):
            for k in range(9):
                for l in range(9):
                        ctt.append(lowercase[i]+lowercase[j]+digits[k]+digits[l])
    return ctt
print(correct_answer())
corret_answer = correct_answer()
answer = [lowercase[i]+lowercase[j]+digits[k]+digits[l] for i in range(26) for j in range(26) for k in range(9) for l in range(9)] 
corret_answer == answer

In [0]:
correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
print(correct_answer[:50])

## Numpy

In [0]:
import numpy as np

In [0]:
my_list = [1, 2, 3]
x= np.array(my_list)
x

In [0]:
m = np.array([[5, 6, 7],[8, 9, 10]])
m

In [0]:
m.shape

In [0]:
n = np.arange(0, 30, 2)
n

In [0]:
n= n.reshape(3,5)
n

In [0]:
o = np.linspace(0, 4, 9)
o

In [0]:
o.resize(3, 3)
o

In [0]:
np.ones((3, 2))

In [0]:
np.zeros((3, 2))

In [0]:
np.eye(3)

In [0]:
np.diag(o)